*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
*.apk
*.db
/sentry.properties
/app/private_key.pepk
/app/src/main/assets/database/db.sqlite
/dictionaryassets/src/main/assets/database/data.sqlite
/app/release
/app/debug
/app/beta
